body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

header {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    background: linear-gradient(to right, #000, #333);
    color: white;
    padding: 70px 30px;
    text-align: center;
}

.affiliate-hint {
    background: #fff3cd;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    font-size: 14px;
}

.products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product {
    background: grey;
    padding: 20px;
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.buy-btn {
    display: block;
    margin-top: 15px;
    padding: 12px;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.buy-btn:hover {
    background: #000000;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer a {
    color: #ccc;
    text-decoration: none;
}
.language-box {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: auto;
}

.language-box label {
    color: white;
    font-size: 14px;

}

/* ==================== SUCHLEISTE ==================== */
#search {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 20px 0;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#search:focus {
    border-color: #ff6600;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
    outline: none;
}


